.home-container {
    padding: 20px;
    text-align: center;
    background-image: url('../assets/app_background.jpg'); /* Path to the image file */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the background */
    min-height: 100vh; /* Ensure it covers the full viewport height */
  }
  
  .home-container h1 {
    color: #727ab4;
  }
  
  .home-container p {
    font-size: 18px;
    color: #ffffff;

  }
  