.view-weeks-link:link {
    color: var(--text-color);
    text-decoration: none; 
  }
  
  .view-weeks-link:visited {
color: var(--text-color);
}

/* General Styles */
.workout-item {
  /* background-color: var(--primary-color); */
  backdrop-filter: blur(30px);
  color: white;
  padding: 20px;
  margin: 15px 15px;
  border-radius: 10px;
  list-style: none;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: transform 0.3s, box-shadow 0.3s;
  /* border: 1px solid white; */
  width: 80%;
}

.workout-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 8px var(--shadow-color);
}

.workout-item h2 {
  margin: 0;
  font-size: 24px;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 10px;
}

.workout-item p {
  font-size: 18px;
  margin: 10px 0;
}

.view-weeks-link {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.3s;
  margin: 10px 10px ; /* Added space below the link */
}

.view-weeks-link:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px var(--shadow-color);
  background-color: var(--success-color);
}

button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 10px 0 0;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  margin-top: 10px; /* Added space above the buttons */
}

button:hover {
  background-color: var(--button-hover-color);
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.delete-btn{
  background-color: var(--error-color); 

  color: #ffffff;
}

.delete-btn:hover{
  background-color: var(--button-hover-color);
}