.workouts-container h1{
    color: white;
    border: 1px solid white;
    margin: 5px;

}

.workouts-list{
    border: 1px solid white;
    color: white;
    margin: 5px;
}

.workout-item{
    border: 1px solid white;
    color: white;
    margin: 0px;
}