.home-container h1 {
  font-size: 40px;
  background: linear-gradient(to top, rgba(128, 0, 128, 0.5), rgb(233, 93, 29));
  background-clip: text;
  color: transparent;
  box-shadow: 12px 12px 12px rgba(255, 255, 255, 0.272);
  }


  
.home-container p {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 5vh;

  }

.card-container {
  /* border: 1px solid wheat; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 20px; /* Space between the cards */
  flex-wrap: wrap;
}

/* Styles for the Card component */
.card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  transition: transform 0.2s;
  height: 110px;
  width: 75%;
  /* background-color: var(--primary-color); */
  backdrop-filter: blur(40px);
}

.card:hover {
  transform: scale(1.1);
}

.card-link {
  text-decoration: none;
  color: var(--text-color);
}

.card-content h2 {
  margin: 0;
  font-size: 38px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-content p {
  margin: 8px 0 0;
  color: var(--text-color);
  font-size: 20px;
}
