body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.personal-records-page {
  text-align: center;
  padding: 20px;
}

.personal-records-page h1 {
  color: #c5c7dc;
  margin-bottom: 20px;
}

.personal-records-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10vw;
}

.record-item {
  /*flex: 1 1 calc(50% - 40px); /* 50% width minus the gap */
  width: 100%; /* Make each item take up the full width */
  max-width: 400px; 
  /* max-width: calc(50% - 40px); */
  box-sizing: border-box;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}



.error {
  color: #e74c3c;
  font-weight: bold;
}



.record-item:hover {
  transform: scale(1.05);
}

.record-item h2 {
  color: #444a79;
  margin-bottom: 10px;
}

.record-item input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.record-item button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.record-item button:hover {
  background-color: #3b4067;
}

.record-item button:nth-child(3) {
  background-color: #444a79;
  color: white;
}

.record-item button:nth-child(3):hover {
  background-color: #3b4067;
}

.record-item button:nth-child(4) {
  background-color: #e74c3c;
  color: white;
}

.record-item button:nth-child(4):hover {
  background-color: #c0392b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-pr-btn{
  margin: 10px;
}