

.exercises{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the space between items as needed */
  justify-content: center;
}

.exercise-item {
  flex: 0 1 calc(50% - 20px); /* Take up 50% of the container's width minus the gap */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  color: black;
  border: 1px solid #ccc;
  padding: 10px; /* Reduced padding */
  margin-bottom: 5px; /* Reduced margin */
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px; /* Smaller font size */
}

.exercise-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px; /* Reduced margin */
}

.exercise-table th,
.exercise-table td {
  border: 1px solid #ddd;
  padding: 6px; /* Reduced padding */
  text-align: center;
  font-size: 14px; /* Smaller font size */
}

.exercise-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.set-item input {
  width: 50px; /* Smaller width for input fields */
}

button {
  padding: 5px 8px; /* Reduced padding */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px; /* Smaller font size */
}

button.save-btn {
  background-color: green;
  color: white;
  margin-right: 5px;
}

button.save-btn:hover {
  background-color: darkgreen;
}

button.delete-btn {
  background-color: red;
  color: white;
}

button.delete-btn:hover {
  background-color: darkred;
}

button.new-exercise-btn{
  margin: 20px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 10px;
}

button.new-exercise-btn:hover{
 border: solid 2px white;
 transform: scale(1.1);
}

button.new-set-btn{
  background-color: rgb(39, 130, 66);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  width: 100%;
}
